{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
<script>
  // function loadData(){
  //     $('#task_card').empty();
  //     $('#table_card').empty();
  //     let table_card ="";
  //     $.ajax({
  //         url: "{% url 'activity:show_json' %}",
  //         type: "GET",
  //         dataType: "json",
  //         success: function(data){
  //           for (let i of data){
  //                 table_card +=`
  //                 <tr id="${i.id}" >
  //                     <th>${i.fields.title}</th>
  //                     <th>${i.fields.description}</th>
  //                     </tr>  
  //                 `
  //                 ;
  //                       }
  //           $('.table_card').append(table_card);
  //         },
  //         error: function(data){
  //             console.log('Error?');
  //         }
  //     })
  // }

  function loadData(){
      $('#task_card').empty();
      $('#table_card').empty();
      let table_card ="";
      $.ajax({
          url: "{% url 'activity:show_json' %}",
          type: "GET",
          dataType: "json",
          success: function(data){
            for (let i of data){
                  table_card +=`
                  <li class="card">
                    <div">
                      <h3 class="card-title">${i.fields.title}</h3>
                      <div class="card-content">
                        <p>${i.fields.description}</p>
                    </div>
                  </li>`;
                        }
            $('.table_card').append(table_card);
          },
          error: function(data){
              console.log('Error?');
          }
      })
  }

  $(document).on('submit', '#todolist_form',function(e){
      e.preventDefault();
      var title=$("#title").val(); 
      var description=$("#description").val(); 
      var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
      $.ajax({
          type:'POST',
          url: "{% url 'activity:AddActivity' %}",
          data:{
              title:title,
              description:description,
              csrfmiddlewaretoken:csrf_token,
              action: 'post'
          },
          success:function(){
              document.getElementById("todolist_form").reset();
              loadData();
          },
      }).done(function(data){
        console.log("task?")
      form.trigger("reset");
      loadData();
      });
      $("#myModal").modal("hide");
  });
</script>


<nav class="navbar navbar-expand-lg navbar-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <span class="navbar-text"
      style="color: #fafafa">
      {{ user.get_username }}
    </span>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: #fafafa" href="#">Todolist Ajax</a>
        </li>
        <li class="nav-item">
        
        </li>
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            style="color: #fafafa"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
  
          <a class="nav-link" style="color: #fafafa" data-toggle="modal" data-target="#myModal" href="#" >Tambah Task</a>
        </li>
        <li class="nav-item">
        
        </li>
        
       
        <li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>


<!-- <div class="d-inline-block">
<span class="m-5 d-flex flex-column justify-content-center align-items-center">
<p class="h1"
  style="color: #fafafa">To-Do List</p>
  <div class="m-5 d-flex flex-column justify-content-center align-items-center">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
            
              <div class="table-responsive card" >
                  <div class="bg-image h-100" style="background-color: #ffb97f;">
                    <table class="table table-hover table-striped mb-0"  >
                      <thead style="background-color: #fd7601;">
                      <tr class="text-uppercase text-success">
                      <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Description</th>
                      </tr>
                      </thead>
                      <tbody class ="table_card" id="table_card">

                      </tbody>
                      </table>
            </div>
          </div>
          </div>

      </div>
    </div>
    </div>
    <p class="p"
    style="color: #fafafa">
    </div>
</span>

</div> -->

<div class="container">
  <br>
  <h4 style="font-weight: bold;">Your Tasks:</h4>
  <ul class="table_card">
    </ul>
</div>

<div class="d-inline-block">
  <span class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-body py-0">
          <div class="d-flex main-content">
            <div class="content-text p-4">
              <h5>Tambah Task</h5>

              <form method="post" id="todolist_form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title" class="form-label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Masukkan nama barang"
                    name="title"
                    id="title"
                  />
                </div>
                <div class="form-group">
                <label for="description" class="form-label">description</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Masukkan description barang"
                  name="description"
                  id="description"
                />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          

        </div>
      </div>
    </span>
</div>

</div>

</div>

</div>
{% endblock content %}
