{% extends 'base.html' %}

{% block content %}
{% load static %}


<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<script  src="{% static 'js/script.js' %}"></script>
<style>
  
</style>
</head>
<body>
  <script>
     function onYouTubeIframeAPIReady() {
    console.log('onYouTubeIframeAPIReady');
    lawang = new YT.Player('lawang', {
        videoId: 'xzmY9Iha1as'
    }),
    sampokong= new YT.Player('sampokong', {
            videoId: '-O_gI1SKA-Y'
    }),
    kotatua = new YT.Player('kotatua', {
        videoId: 'iGVDwUZVRm0'
        }),
    batik = new YT.Player('batik', {
      videoId: 'aqrODDbuu0Q'
      }),
      mesjidagung = new YT.Player('mesjidagung', {
        videoId: 'yyr4_8Aad_w'
    });
    nepal = new YT.Player('nepal', {
        videoId: 'LlfHnBOTfi8'
    });
    }
    
    
    // 7OiJZH8JXpw
  </script>
<div class="d-flex justify-content-center">
  <nav class=" navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mainpage:show_mainpage' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'tempat_wisata:show_tempat_wisata' %}">Tempat Wisata</a>
        </li>

        <li class="nav-item dropdown dmenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Things To Do
          </a>
          <div class="dropdown-menu sm-menu">
            <a class="dropdown-item" href="{% url 'activity:ShowActivityJakarta' %}">Jakarta</a>
            <a class="dropdown-item" href="{% url 'activity:ShowActivityBali' %}">Bali</a>
            <a class="dropdown-item" href="{% url 'activity:ShowActivityJabar' %}">Jawa Barat</a>
            <a class="dropdown-item" href="{% url 'activity:ShowActivityJateng' %}">Jawa Tengah</a>
            <a class="dropdown-item" href="{% url 'activity:ShowActivityJogja' %}">Jogja</a>
            <a class="dropdown-item" href="{% url 'activity:ShowActivityJatim' %}">Jawa Timur</a>
            <a class="dropdown-item" href="{% url 'activity:ShowActivityForms' %}">Saran</a>
          </div>
        </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'tempat_kuliner:show_tempat_kuliner' %}">Tempat Kuliner</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'emergencycall:show_hospital' %}">Kontak Rumah Sakit</a>
      </li>

      <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dashboard
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" href="#">User Form</a>
          <a class="dropdown-item" href="#">Form Summary</a>
          <a class="dropdown-item" href="{% url 'mainpage:logout' %}">Login/Logout</a>
        </div>
      
      </ul>
      <a class="navbar-brand" href="#">
        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png" width="30" height="30" alt="logo">
        Welcome {{user.get_username}}
      </a>
      
    </div>
  </nav>
</div>
  <p class="h1"
  style="color: #e65151">Jawa Tengah</p>


<div class="container">
<div class="d-flex justify-content-center">
 
</div>
  
<div class="d-flex column flex-wrap justify-content-evenly align-content-evenly">
  

<div class="d-inline-block">
<span class="container">
<div class="movie">

  <div class="prime"></div>
  <div class="front">
    <img src="https://i.ytimg.com/vi/ON106JT-fCE/maxresdefault.jpg" class="cover">
  </div>

  <div class="back">
    <div class="trailer" id="lawang">
    </div>

    <div class="title">
      <h3>Lawang Sewu</h3>
    </div>

    <div class="description">
      <p style="color:white">Hal yang dapat dilakukan adalah Menjelajahi seribu pintu, Hunting foto, melihat Menara Kubah, Wisata edukasi, Bersantai, Berkunjung pada malam hari</p>
    
    </div>

  </div>

  <div class="background"></div>
  
</div>
</span>
</div>



<div class="d-inline-block">
<span class="container">
<div class="movie">

    <div class="prime"></div>
    <div class="front">
      <img src="https://www.pinhome.id/info-area/wp-content/uploads/2022/06/Capture-23.jpg" 
      alt="" class="cover">
    </div>
  
    <div class="back">
      <div class="trailer" id="sampokong">
      </div>
  
      <div class="title">
        <h3>Sampokong</h3>
      </div>
  
      <div class="description">
        <p style="color:white" >Berkunjung ke Semua Kelenteng di Sam Poo Kong, Berburu Spot Instagramable di Sam Poo Kong, Menyewa pakaian khas China, Melihat Goa Batu, melihat Klenteng Dewa Bumi dan Kyai Juru Mudi

        </p>
      </div>
  
    </div>
  
    <div class="background"></div>
</div>
</span>
</div>



<div class="d-inline-block">
  <span class="container">
    <div class="movie">
    
        <div class="prime"></div>
        <div class="front">
          <img src="https://statik.tempo.co/data/2019/08/24/id_866734/866734_720.jpg" alt="" class="cover">
        </div>
      
        <div class="back">
          <div class="trailer" id="kotatua">
          </div>
      
          <div class="title">
            <h3>Kota Lama Semarang</h3>
      
            
          </div>
      
          <div class="description">
            <p style="color:white">Hal yang dapat dilakukan adalah Cari barang antik di Pasar Klitikan, Ngopi di café sekitar Kota Lama, Berfoto di Rumah Akar, Blusukan di gedung tua Kota Lama, Bersepeda keliling Kota Lama</p>
          </div>
      
        </div>
      
        <div class="background"></div>
    </div>
  </span>
    </div>





<div class="d-inline-block">
  <span class="container">
  <div class="movie">
  
      <div class="prime"></div>
      <div class="front">
        <img src="https://sanjayatour.com/wp-content/uploads/2020/03/Museum-Batik-Danar-Hadi-Solo.jpg" alt="" class="cover">
      </div>
    
      <div class="back">
        <div class="trailer" id="batik">
        </div>
    
        <div class="title">
          <h3>Museum Batik Danar Hadi</h3>
        </div>
    
        <div class="description">
          <p style="color:white">Hal yang dapat dilakukan adalah Melihat Koleksi Beragam Jenis Batik, belajar membatik, Bersantai di Cafe Soga, dan menikmati gedung dengan perpaduan Cagar Budaya dan Museum Bergaya Jawa-Eropa</p>
        </div>
    
      </div>
    
      <div class="background"></div>
  </div>
</span>
  </div>



<div class="d-inline-block">
  <span class="container">
  <div class="movie">
  
      <div class="prime"></div>
      <div class="front">
        <img src="https://1.bp.blogspot.com/-MJ1WAN8rGK4/WgZWVH5U2SI/AAAAAAAAHKs/eWWdv7X1jUUVxvdmHH3t7hVf71BfkhhMgCLcBGAs/s1600/gambar%2Bmasjid%2Bagung%2Bjawa%2Btengah%2Bsunset.jpg" alt="" class="cover">
      </div>
    
      <div class="back">
        <div class="trailer" id="mesjidagung">
        </div>
    
        <div class="title">
          <h3>Masjid Agung Jawa Tengah</h3>
    
          
        </div>
    
        <div class="description">
          <p style="color:white">Hal yang dapat dilakukan adalah Berburu Spot Foto Yang Instagramable, Jalan-Jalan Sambil Belajar di Museum Perkembangan Islam, Melihat Pemandangan Kota Semarang dari Menara Pandang Tower Al Husna, Jogging Pagi di Area Masjid Agung, Berburu Kuliner di Hari Libur, melihat Miniatur Manasik Haji di Kawasan MAJT
          </p>
        </div>
    
      </div>
    
      <div class="background"></div>
  </div>
</span>
  </div>



  <div class="d-inline-block">
    <span class="container">
    <div class="movie">
    
        <div class="prime"></div>
        <div class="front">
          <img src="https://www.pegipegi.com/travel/wp-content/uploads/2020/09/nepal-van-java.jpg" alt="" class="cover">
        </div>
      
        <div class="back">
          <div class="trailer" id="nepal">
          </div>
      
          <div class="title">
            <h3>Nepal Van Java</h3>
      
            
          </div>
      
          <div class="description">
            <p style="color:white">Hal yang dapat dilakukan adalah Menikmati lautan awan, Sarapan di warung setempat, Jelajah desa dan perkebunan, Berfoto-foto di spot Instagramable, Bersantai di Curug Silawe, Menyantap Kuliner Nikmat</p>
          </div>
      
        </div>
      
        <div class="background"></div>
    </div>
  </span>
    </div>
</div>


  <div class="d-inline-block">
    <span class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
          <div class="modal-body py-0">
            <div class="d-flex main-content">
              <div class="content-text p-4">
                <h5>Tambah Task</h5>

                <form method="post" id="todolist_form">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="title" class="form-label">Title</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Masukkan nama barang"
                      name="title"
                      id="title"
                    />
                  </div>
                  <div class="form-group">
                  <label for="description" class="form-label">description</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Masukkan description barang"
                    name="description"
                    id="description"
                  />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            

          </div>
        </div>
      </span>
</div>


</div>




</body>

{% endblock content %}
