{% extends 'base.html' %}

{% block content %}
{% load static %}


<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<script  src="{% static 'js/script.js' %}"></script>
<style>
  
</style>
</head>
<body>
  <script>
     function onYouTubeIframeAPIReady() {
    console.log('onYouTubeIframeAPIReady');
    ijen = new YT.Player('ijen', {
        videoId: 'caR6drtTntY'
    }),
    angkut= new YT.Player('angkut', {
            videoId: 'I9SCknjlWdg'
    }),
    jodiban = new YT.Player('jodiban', {
        videoId: 'UpncSaRvjCE'
        }),
    coban = new YT.Player('coban', {
      videoId: 'BA2r0D0Vrwc'
      }),
      tumpak = new YT.Player('tumpak', {
        videoId: 'p5ELzeuVwnE'
    });
    papuma = new YT.Player('papuma', {
        videoId: '9yN6Gquqxvc'
    });
    }
    
    
    // 7OiJZH8JXpw
  </script>
  <nav class="navbar navbar-expand-lg navbar-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarCenteredExample"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
      >
        <!-- Left links -->
        <span class="navbar-text"
        style="color: #fafafa">
        {{ user.get_username }}
      </span>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: #fafafa" href="#">Todolist Ajax</a>
          </li>
          <li class="nav-item">
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              style="color: #fafafa"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #fafafa" data-toggle="modal" data-target="#myModal" href="#" >Tambah Task</a>
          </li>
          <li class="nav-item">
          </li>
          
         
          <li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <p class="h1"
  style="color: #e65151">Jawa Timur</p>


<div class="container">
<div class="d-flex justify-content-center">
 
</div>
  
<div class="d-flex column flex-wrap justify-content-evenly align-content-evenly">
  

<div class="d-inline-block">
<span class="container">
<div class="movie">

  <div class="prime"></div>
  <div class="front">
    <img src="https://c4.wallpaperflare.com/wallpaper/924/880/983/5bd338c791048-wallpaper-preview.jpg" class="cover">
  </div>

  <div class="back">
    <div class="trailer" id="ijen">
    </div>

    <div class="title">
      <h3>Black Panther</h3>
    </div>

    <div class="description">
      <p style="color:white">When young King T'Challa is Drawn into conflit with an old foe that puts his homeland wakanda and the entire world at risk, he msut release Black Panther's full power to save them.</p>
    
    </div>

  </div>

  <div class="background"></div>
  
</div>
</span>
</div>



<div class="d-inline-block">
<span class="container">
<div class="movie">

    <div class="prime"></div>
    <div class="front">
      <img src="https://asset.kompas.com/crops/N49sLBf8ZEE4a7RVv-4J3X1qY8M=/12x0:635x415/750x500/data/photo/2020/03/19/5e739f66c953c.jpg" 
      alt="" class="cover">
    </div>
  
    <div class="back">
      <div class="trailer" id="angkut">
      </div>
  
      <div class="title">
        <h3>Black Panther</h3>
      </div>
  
      <div class="description">
        <p style="color:white" >When young King T'Challa is Drawn into conflit with an old foe that puts his homeland wakanda and the entire world at risk, he msut release Black Panther's full power to save them.</p>
      </div>
  
    </div>
  
    <div class="background"></div>
</div>
</span>
</div>



<div class="d-inline-block">
  <span class="container">
    <div class="movie">
    
        <div class="prime"></div>
        <div class="front">
          <img src="https://statik.tempo.co/data/2019/08/24/id_866734/866734_720.jpg" alt="" class="cover">
        </div>
      
        <div class="back">
          <div class="trailer" id="jodiban">
          </div>
      
          <div class="title">
            <h3>Black Panther</h3>
      
            
          </div>
      
          <div class="description">
            <p style="color:white">When young King T'Challa is Drawn into conflit with an old foe that puts his homeland wakanda and the entire world at risk, he msut release Black Panther's full power to save them.</p>
          </div>
      
        </div>
      
        <div class="background"></div>
    </div>
  </span>
    </div>





<div class="d-inline-block">
  <span class="container">
  <div class="movie">
  
      <div class="prime"></div>
      <div class="front">
        <img src="https://www.journeyera.com/wp-content/uploads/2018/10/coban-talun-waterfall-01339.jpg.webp" alt="" class="cover">
      </div>
    
      <div class="back">
        <div class="trailer" id="coban">
        </div>
    
        <div class="title">
          <h3>Black Panther</h3>
        </div>
    
        <div class="description">
          <p style="color:white">When young King T'Challa is Drawn into conflit with an old foe that puts his homeland wakanda and the entire world at risk, he msut release Black Panther's full power to save them.</p>
        </div>
    
      </div>
    
      <div class="background"></div>
  </div>
</span>
  </div>



<div class="d-inline-block">
  <span class="container">
  <div class="movie">
  
      <div class="prime"></div>
      <div class="front">
        <img src="https://media.istockphoto.com/photos/tumpak-sewu-waterfall-java-picture-id1346436236?b=1&k=20&m=1346436236&s=170667a&w=0&h=lSjBAro_wd79YkT4Kqjt2EhYsS7wZ-52cc0ecQFhN70=" alt="" class="cover">
      </div>
    
      <div class="back">
        <div class="trailer" id="tumpak">
        </div>
    
        <div class="title">
          <h3>Black Panther</h3>
    
          
        </div>
    
        <div class="description">
          <p style="color:white">When young King T'Challa is Drawn into conflit with an old foe that puts his homeland wakanda and the entire world at risk, he msut release Black Panther's full power to save them.</p>
        </div>
    
      </div>
    
      <div class="background"></div>
  </div>
</span>
  </div>



  <div class="d-inline-block">
    <span class="container">
    <div class="movie">
    
        <div class="prime"></div>
        <div class="front">
          <img src="https://www.superlive.id/storage/superadventure/2018/12/19/x61594cc2f153.jpg.pagespeed.ic.t_Cr4Lnz2s.jpg" alt="" class="cover">
        </div>
      
        <div class="back">
          <div class="trailer" id="papuma">
          </div>
      
          <div class="title">
            <h3>Black Panther</h3>
      
            
          </div>
      
          <div class="description">
            <p style="color:white">When young King T'Challa is Drawn into conflit with an old foe that puts his homeland wakanda and the entire world at risk, he msut release Black Panther's full power to save them.</p>
          </div>
      
        </div>
      
        <div class="background"></div>
    </div>
  </span>
    </div>
</div>


  <div class="d-inline-block">
    <span class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
          <div class="modal-body py-0">
            <div class="d-flex main-content">
              <div class="content-text p-4">
                <h5>Tambah Task</h5>

                <form method="post" id="todolist_form">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="title" class="form-label">Title</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Masukkan nama barang"
                      name="title"
                      id="title"
                    />
                  </div>
                  <div class="form-group">
                  <label for="description" class="form-label">description</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Masukkan description barang"
                    name="description"
                    id="description"
                  />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            

          </div>
        </div>
      </span>
</div>


</div>




</body>

{% endblock content %}
