{% extends 'base.html' %}

{% block content %}
{% load static %}


<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<script  src="{% static 'js/script.js' %}"></script>
<style>
  
</style>
</head>
<body>
  <script>
     function onYouTubeIframeAPIReady() {
    console.log('onYouTubeIframeAPIReady');
    malioboro = new YT.Player('malioboro', {
        videoId: 'eXTewE5ok-E'
    }),
    borobudur= new YT.Player('borobudur', {
            videoId: 'PF-yToyjJ-s'
    }),
    prambanan = new YT.Player('prambanan', {
        videoId: 'yjXFNCQsy5A'
        }),
    boko = new YT.Player('boko', {
      videoId: 'X_EHNHM8L_Q'
      }),
      tamansari = new YT.Player('tamansari', {
        videoId: 'vro4e4HFetE'
    });
    pinus = new YT.Player('pinus', {
        videoId: 'pEN_6krDgRo'
    });
    }
    
    
    // 7OiJZH8JXpw
  </script>
  <div class="d-flex justify-content-center">
    <nav class=" navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mainpage:show_mainpage' %}">Home <span class="sr-only">(current)</span></a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tempat_wisata:show_tempat_wisata' %}">Tempat Wisata</a>
          </li>
  
          <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Things To Do
            </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" href="{% url 'activity:ShowActivityJakarta' %}">Jakarta</a>
              <a class="dropdown-item" href="{% url 'activity:ShowActivityBali' %}">Bali</a>
              <a class="dropdown-item" href="{% url 'activity:ShowActivityJabar' %}">Jawa Barat</a>
              <a class="dropdown-item" href="{% url 'activity:ShowActivityJateng' %}">Jawa Tengah</a>
              <a class="dropdown-item" href="{% url 'activity:ShowActivityJogja' %}">Jogja</a>
              <a class="dropdown-item" href="{% url 'activity:ShowActivityJatim' %}">Jawa Timur</a>
              <a class="dropdown-item" href="{% url 'activity:ShowActivityForms' %}">Saran</a>
            </div>
          </li>
  
  
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tempat_kuliner:show_tempat_kuliner' %}">Tempat Kuliner</a>
        </li>
  
  
        <li class="nav-item">
          <a class="nav-link" href="{% url 'emergencycall:show_hospital' %}">Kontak Rumah Sakit</a>
        </li>
  
        <li class="nav-item dropdown dmenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Dashboard
          </a>
          <div class="dropdown-menu sm-menu">
            <a class="dropdown-item" href="#">User Form</a>
            <a class="dropdown-item" href="#">Form Summary</a>
            <a class="dropdown-item" href="{% url 'mainpage:logout' %}">Login/Logout</a>
          </div>
        
        </ul>
        <a class="navbar-brand" href="#">
          <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png" width="30" height="30" alt="logo">
          Welcome {{user.get_username}}
        </a>
        
      </div>
    </nav>
  </div>
  <p class="h1"
  style="color: #e65151">Jogja</p>


<div class="container">
<div class="d-flex justify-content-center">
 
</div>
  
<div class="d-flex column flex-wrap justify-content-evenly align-content-evenly">
  

<div class="d-inline-block">
<span class="container">
<div class="movie">

  <div class="prime"></div>
  <div class="front">
    <img src="https://c0.wallpaperflare.com/preview/321/24/1013/indonesia-malioboro-street-horse-places.jpg"" class="cover">
  </div>

  <div class="back">
    <div class="trailer" id="malioboro">
    </div>

    <div class="title">
      <h3>Malioboro</h3>

      
    </div>

    <div class="description">
      <p style="color:white">Hal yang dapat dilakukan adalah Berbelanja oleh-oleh, Keliling naik andong, Serunya naik becak dan skuter listrik, menyantap kuliner dengan santai, foto asyik di malioboro, mengunjungi pasar sore dan menikmati malam</p>
    
    </div>

  </div>

  <div class="background"></div>
  
</div>
</span>
</div>



<div class="d-inline-block">
<span class="container">
<div class="movie">

    <div class="prime"></div>
    <div class="front">
      <img src="https://c4.wallpaperflare.com/wallpaper/644/828/996/the-sun-rays-light-island-wallpaper-preview.jpg" 
      alt="" class="cover">
    </div>
  
    <div class="back">
      <div class="trailer" id="borobudur">
      </div>
  
      <div class="title">
        <h3>Candi Borobudur</h3>
  
        
      </div>
  
      <div class="description">
        <p style="color:white" >Eksplorasi Keseluruhan Kompleks Candi, Mengunjungi Museum, Mencicipi Kuliner Lokal: Hidangan Lele, Melihat Candi Lainnya, Bawa Pulang Oleh-Oleh Souvenir Lokal, Nikmati Borobudur dari Punthuk Setumbu</p>
      </div>
  
    </div>
  
    <div class="background"></div>
</div>
</span>
</div>



<div class="d-inline-block">
  <span class="container">
    <div class="movie">
    
        <div class="prime"></div>
        <div class="front">
          <img src="https://wallpapercave.com/wp/wp7400074.jpg" alt="" class="cover">
        </div>
      
        <div class="back">
          <div class="trailer" id="prambanan">
          </div>
      
          <div class="title">
            <h3>Candi Prambanan</h3>
      
            
          </div>
      
          <div class="description">
            <p style="color:white">Hal yang dapat dilakukan adalah Melihat Keindahan Relief, Berburu Spot Foto Instagramable, Menyaksikan Pertunjukan Sendratari Ramayana, Belanja Oleh-Oleh Khas Yogyakarta, Belajar sejarah, bersepeda</p>
          </div>
      
        </div>
      
        <div class="background"></div>
    </div>
  </span>
    </div>





<div class="d-inline-block">
  <span class="container">
  <div class="movie">
  
      <div class="prime"></div>
      <div class="front">
        <img src="https://res.cloudinary.com/mongotrip/image/upload/v1614740993/images/tuoydp1neuyqcckpimdc.jpg" alt="" class="cover">
      </div>
    
      <div class="back">
        <div class="trailer" id="boko">
        </div>
    
        <div class="title">
          <h3>Ratu Boko</h3>
    
          
        </div>
    
        <div class="description">
          <p style="color:white">Hal yang dapat dilakukan adalah menikmati sunset, piknik di gazebo. berofot,  menjelajahi area situs, santai sejenak menikmati suasana</p>
        </div>
    
      </div>
    
      <div class="background"></div>
  </div>
</span>
  </div>



<div class="d-inline-block">
  <span class="container">
  <div class="movie">
  
      <div class="prime"></div>
      <div class="front">
        <img src="https://assets.pikiran-rakyat.com/crop/0x0:1080x836/750x500/photo/2021/09/06/3610185223.jpg" alt="" class="cover">
      </div>
    
      <div class="back">
        <div class="trailer" id="tamansari">
        </div>
    
        <div class="title">
          <h3>Taman Sari</h3>
    
          
        </div>
    
        <div class="description">
          <p style="color:white">Hal yang dapat dilakukan adalah belajar sejarah dan bernostalgia dengan masa lalu keraton Yogyakarta, berfoto atau sekadar menikmati arsitektur Istana Air Taman Sari di 5 bagian yakni Gedhong Gapuro Hageng, Pasiraman Umbul Binangun, Gedong Sekawan, Sumur Gumuling, Pulo Kenanga</p>
        </div>
    
      </div>
    
      <div class="background"></div>
  </div>
</span>
  </div>



  <div class="d-inline-block">
    <span class="container">
    <div class="movie">
    
        <div class="prime"></div>
        <div class="front">
          <img src="https://2.bp.blogspot.com/-KrT0xWaWHAw/WRw8w-GSwjI/AAAAAAAAZxw/qwDPXVBvgGYAKVb6t0y1dyT6L2d0cF3MwCLcB/s1600/asri1.jpg" alt="" class="cover">
        </div>
      
        <div class="back">
          <div class="trailer" id="pinus">
          </div>
      
          <div class="title">
            <h3>Hutan Pinus Asri Mangunan</h3>
      
            
          </div>
      
          <div class="description">
            <p style="color:white">Hal yang dapat dilakukan adalah Foto Keren dan Instagramable, Piknik Asyik Bersama Teman atau Keluarga, Duduk Santai di Bangku Kayu atau Panggung Alam, Menikmati Pemandangan Dari Atas Hammock,Naik ke Gardu Pandang</p>
          </div>
      
        </div>
      
        <div class="background"></div>
    </div>
  </span>
    </div>
</div>


  <div class="d-inline-block">
    <span class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
          <div class="modal-body py-0">
            <div class="d-flex main-content">
              <div class="content-text p-4">
                <h5>Tambah Task</h5>

                <form method="post" id="todolist_form">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="title" class="form-label">Title</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Masukkan nama barang"
                      name="title"
                      id="title"
                    />
                  </div>
                  <div class="form-group">
                  <label for="description" class="form-label">description</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Masukkan description barang"
                    name="description"
                    id="description"
                  />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            

          </div>
        </div>
      </span>
</div>


</div>




</body>

{% endblock content %}
