{% extends 'base.html' %}

{% load static %}

<html>

<head>
{% block meta %}
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/emergencycall.css' %}" type="text/css">
<script src="{% static 'js/emergencycall.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<script  src="{% static 'js/script.js' %}"></script>


{% endblock meta %}

</head>

{% block content %}
    

<div class="d-flex justify-content-center">
  <nav class=" navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mainpage:show_mainpage' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Our Service
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" href="#">service2</a>
          <a class="dropdown-item" href="#">service 2</a>
          <a class="dropdown-item" href="#">service 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'emergencycall:show_hospital' %}">Kontak Rumah Sakit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tempat_kuliner:show_tempat_kuliner' %}">Tempat Kuliner</a>
      </li>
      </li>
       <li class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Things To Do
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" href="{% url 'activity:ShowActivityJakarta' %}">Jakarta</a>
          <a class="dropdown-item" href="{% url 'activity:ShowActivityBali' %}">Bali</a>
          <a class="dropdown-item" href="{% url 'activity:ShowActivityJabar' %}">Jawa Barat</a>
          <a class="dropdown-item" href="{% url 'activity:ShowActivityJateng' %}">Jawa Tengah</a>
          <a class="dropdown-item" href="{% url 'activity:ShowActivityJogja' %}">Jogja</a>
          <a class="dropdown-item" href="{% url 'activity:ShowActivityJatim' %}">Jawa Timur</a>
          <a class="dropdown-item" href="{% url 'activity:ShowActivityForms' %}">Saran</a>
        </div>
      </li>
      </ul>
      <a class="navbar-brand" href="#">
        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png" width="30" height="30" alt="logo">
        {{user.get_username}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-list-4">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              <a class="dropdown-item" href="{% url 'mainpage:logout' %}">Log Out</a>
            </div>
          </li>   
        </ul>
      </div>
    </div>
  </nav>
</div>

<h3><button type="button" class="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add a new hospital</button></h3>

<div class="wrapper">

</div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add new hospital data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="card-body">
          <!-- <form class="newHospital" method="POST"> -->
            <form class="hospital-form">
                {% csrf_token %}
                <h3>Nama RS</h3>
                {{ form.hospital_name }}
                <h3>Nomor RS</h3>
                {{ form.hospital_number }}
                <h3>Alamat</h3>
                {{ form.hospital_location }}
            </form>
      </div>
        <h3><button type="button" class="submit" data-bs-dismiss="modal">Close</button> 
        <button type="button" class="submit" onclick="newHospital()" data-bs-dismiss="modal">Add Hospital</button></h3>
    </div>
  </div>
</div>
</div>

</body>
</html>
    
{% endblock content %}
