<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/coffeehouse.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<div class="w3-row w3-padding w3-black">
  <div class="w3-col s3">
    <a href="{% url 'mainpage:show_mainpage' %}" class="w3-button w3-block w3-black">HOME</a>
  </div>
  <div class="w3-col s3">
    <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
  </div>
  <div class="w3-col s3">
    <a href="#menu" class="w3-button w3-block w3-black">MENU</a>
  </div>
  <div class="w3-col s3">
    <a href="#TW" class="w3-button w3-block w3-black">Tempat Wisata</a>
  </div>
  <div class="w3-col s3">
    <a href="#TTD" class="w3-button w3-block w3-black">Things To Do</a>
  </div>
  <div class="w3-col s3">
    <a href="{% url 'tempat_kuliner:show_tempat_kuliner' %}" class="w3-button w3-block w3-black">Tempat Kuliner</a>
  </div>
  <div class="w3-col s3">
    <a href="#RS" class="w3-button w3-block w3-black">Kontak Rumah Sakit</a>
  </div>
  <div class="w3-col s3">
    <a href="{% url 'mainpage:logout' %}" class="w3-button w3-block w3-black">login / logout</a>
  </div>
</div>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Jelajah Indonesia</span></h5>
    <p>Pada project PBP ini, kelompok kami membuat sebuah website bernama Jelajah Indonesia yang berisi segala informasi dan hal yang dapat dilakukan oleh pandatang dari berbagai negara yang akan menjadi partisipan G20 untuk mengisi waktu selama rangkaian acara G20 berlangsung.</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
    </div>


<!-- Contact/Area Container -->


<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>



</body>
</html>